@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media (min-width: 300px) {
    .table :where(thead, tbody) :where(th, td) {
        padding: 0.5rem;
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .table :where(thead, tbody) :where(td) {
        --tw-bg-opacity: 1;
        background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    }
}

@media (min-width: 600px) {
    .table :where(thead, tbody) :where(th, td) {
        padding: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .table :where(thead, tbody) :where(td) {
        --tw-bg-opacity: 1;
        background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    }
}